<ion-view title="" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div id="page8-button-bar6" class=" button-bar "></div>
        <div id="page8-button-bar7" class=" button-bar "></div>
        <form id="page8-form20" class="list ">
            <div id="page8-button-bar8" class=" button-bar ">
                <button id="page8-button17" style="font-size:14px;text-align:left;" class=" button button-light  button-block "></button>
                <button id="page8-button18" style="font-size:14px;text-align:right;" class=" button button-light  button-block ">Save</button>
            </div>
        </form>
        <div class="item item-body " id="page8-list-item-container6">
            <p id="page8-markdown9" style="margin-top:0px;color:#8A8181;text-align:center;" class=" ">Tap here to write your fanfic</p>
            <div class="spacer" style="width: 268px; height: 314px;"></div>
        </div>
        <form id="page8-form21" class="list ">
            <label class="item item-input " id="page8-textarea12">
                <span class="input-label">July 20</span><textarea placeholder=""></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>