<ion-view title="" hide-nav-bar="true" id="page3" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="">
            <a style="display:block;" href="tel:">
                <img src="img/iLJ4m26MSrq5GvkSMFcw_aff_logo.png" width="50%" height="auto" style="display:block;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
        <form id="page3-form10" class="list ">
            <h3 id="page3-heading4" style="color:#616060;text-align:center;" class=" ">Community for readers and writers</h3>
            <div class="spacer" style="width: 300px; height: 28px;"></div>
            <label class="item item-input item-floating-label " id="page3-input7">
                <input type="email" placeholder="Username">
            </label>
            <label class="item item-input item-floating-label " id="page3-input8">
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label " id="page3-input9">
                <input type="password" placeholder="Password">
            </label>
        </form>
        <button id="page3-button3" class=" button button-positive  button-block "><a href="">Start Reading</a></button>
        <div>
            <p>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Already have an account?
                <strong><a href="#/page1">Login</a></strong>
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 83px;"></div>
    </ion-content>
</ion-view>