<ion-view title="" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div id="page7-button-bar3" class=" button-bar "></div>
        <div id="page7-button-bar4" class=" button-bar "></div>
        <form id="page7-form17" class="list ">
            <div id="page7-button-bar5" class=" button-bar ">
                <button id="page7-button14" style="font-size:14px;text-align:left;" class=" button button-light  button-block ">&lt; Create Fanfic</button>
                <button id="page7-button15" style="font-size:14px;text-align:right;" class=" button button-light  button-block ">Next</button>
            </div>
        </form>
        <h5 id="page7-heading12" style="color:#ACA7A7;font-weight:400;text-align:center;" class=" ">Give your Fanfic a Title</h5>
        <div class="item item-body " id="page7-list-item-container5">
            <p id="page7-markdown8" style="margin-top:0px;color:#8A8181;text-align:center;" class=" ">Tap here to write a description</p>
            <div class="spacer" style="width: 268px; height: 314px;"></div>
        </div>
        <form id="page7-form19" class="list ">
            <label class="item item-input " id="page7-textarea11">
                <span class="input-label">July 20</span><textarea placeholder=""></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>